{% extends 'base_login.html' %}

{% block title %}登录{% endblock %}

{% block content %}
<div class="login100-pic js-tilt" data-tilt>
	<img src="{{ url_for('static', filename='images/img-01.png') }}" alt="IMG">
</div>

<form class="login100-form validate-form">
	<span class="login100-form-title">
		用户 - 登录
	</span>

	<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
		<input class="input100" type="text" name="email" placeholder="Email">
		<span class="focus-input100"></span>
		<span class="symbol-input100">
			<i class="fa fa-envelope" aria-hidden="true"></i>
		</span>
	</div>

	<div class="wrap-input100 validate-input" data-validate="Password is required">
		<input class="input100" type="password" name="pass" placeholder="Password">
		<span class="focus-input100"></span>
		<span class="symbol-input100">
			<i class="fa fa-lock" aria-hidden="true"></i>
		</span>
	</div>

	<div class="container-login100-form-btn">
		<button class="login100-form-btn">
			登录
		</button>
	</div>

	<div class="text-center p-t-12">
		<span class="txt1">
			忘记密码
		</span>
		<a class="txt2" href="#">
			用户名 / 密码
		</a>
	</div>

	<div class="text-center p-t-136">
		<a class="txt2" href="#">
			创建你的账号
			<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
		</a>
	</div>
</form>
{% endblock %}